<launch>        		
  <!--group ns="arduino_motor_control"-->
		<include file="$(env HOME)/catkin_ws/src/arduino_motor_control/launch/arduino_motor_control.launch"/>
	<!--/group-->
       
  <!--group ns="heartbeat_client"-->
                <include file="$(env HOME)/catkin_ws/src/motor_control_heartbeat_client/launch/motor_control_heartbeat_client.launch"/>
         <!--group ns="geotiff_writer"-->

</launch>
